
tr{
width:500px;
}

td{
width:10px;
height:20px;
text-align:center;
}

h1 {
    font-size: 100px;
    padding-left: 50px;
    font-family: "Verdana";
    color: #00822f;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.title{
font-weight: bold;
}

.cardLocation{
width: 100px;
background-color:#F0F0F0;
}

#dealButton {
font-size: 250%;
position: absolute;
top: 0px;
left: 0px;
background-size: cover;
width: 175px;
height: 175px;
background-color: #68F4FE;
}


#discardPile {
font-size: 250%;
position: absolute;
bottom: 0px;
left: 0px;
background-size: cover;
width: 175px;
height: 175px;
background-color: #EF401D;
}

#newgamebutton{
font-size: 100%;
position: absolute;
top: 0px;
right: 0px;
background-size: cover;
width:150px;
height: 75px;
background-color: #FBFB67;
}
body{
    //background-color: #39B530;
    color: black;
    background-image: url('https://us.123rf.com/450wm/bengingell/bengingell1701/bengingell170100158/70172235-green-felt-of-a-card-table.jpg?ver=6');
    background-size: cover;
}
.score-board {
    position: absolute;
    top: 100px;
    right: 10px;
  text-align: center;
  padding: 25px;
}
.player {
  display: inline-block;
  padding: 15px;
}
.player h4 {
  font-weight: bold;
}
.score-box {
  border: 3px solid black;
  padding: 30px;
  color: black;
}