tr{
width:500px;
}

td{
width:10px;
height:20px;
text-align:center;
}

.title{
font-weight: bold;
}

.cardLocation{
width: 100px;
background-color:#F0F0F0;
}

button {
background-color: #68F4FE;
}


body{
    background-color: #39B530;
    color: black;
}