<h1> <input class= "titlepic" type="image" src="/assets/cardpic.jpg" width="100" height="100"/> Aces Up <input type="image" class= "titlepic" src="/assets/cardpic.jpg" width=" 100" height="100"/></h1>

<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<body>

<table align="center">
    <tr class="title">
        <td>Column0</td>
        <td >Column1</td>
        <td >Column2</td>
        <td >Column3</td>
    </tr>

    <tr><td class="columnOfCards" id="c0">
        <table align="center">
            <tr><td class="cardLocation l0"></td></tr>
            <tr><td class="cardLocation l1"></td></tr>
            <tr><td class="cardLocation l2"></td></tr>
            <tr><td class="cardLocation l3"></td></tr>
            <tr><td class="cardLocation l4"></td></tr>
            <tr><td class="cardLocation l5"></td></tr>
            <tr><td class="cardLocation l6"></td></tr>
            <tr><td class="cardLocation l7"></td></tr>
            <tr><td class="cardLocation l8"></td></tr>
            <tr><td class="cardLocation l9"></td></tr>
            <tr><td class="cardLocation l10"></td></tr>
            <tr><td class="cardLocation l11"></td></tr>
            <tr><td class="cardLocation l12"></td></tr>
            <tr><td class="cardLocation l13"></td></tr>
        </table>
    </td>
        <td class="columnOfCards" id="c1">
            <table align="center">
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c2">
            <table align="center">
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c3">
            <table align="center">
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
            </table>
        </td>
    </tr>
</table>

<div class="score-board">
    <div class="player">
        <h4>SCORE</h4>
    </div>
    <div class="score-box">
        0
    </div>
    <!--</div>-->
</div>
<div class="deal">
    <button
            id="dealButton">DEAL 4 CARDS
    </button>
</div>
<div class="gameMode">
    <button
            id="regularMode" >Regular game
    </button>
    <button
            id="spanishMode" >Spanish game
    </button>
</div>

<div class="discard">
    <img class="discard-image" src="https://i.pinimg.com/236x/e6/3c/66/e63c668d79155d429830a08b2b5a8dd4--tally-ho-playing-cards.jpg" style="width: 100%">
</div>

<button id="newgamebutton"></button>

<div class="move_remove" align="right">
    <BR> Remove from:
            <br><button id="Remove1">Column0</button><button id="Remove2">Column1</button><br><button id="Remove3">Column2</button><button id="Remove4">Column3</button>
    <BR>Move from column: <br><input type="text" id="from_col"  /> <br> to: <br><input type="text" id="to_col"  /> <br><button id="moveButton">Move</button>
</div>

<script>

var game;
var gameMode = 0;

function getCardPic(value, suit){
        if(gameMode == 0){
        if(value == 10) {
            value = "0";
        } else if(value == 11){
            value = "J";
        } else if (value == 12) {
            value = "Q";
        } else if (value == 13) {
            value = "K";
        } else if (value == 14) {
            value = "A";
        }
        return "<img class='cardImage' src='https://deckofcardsapi.com/static/img/" + value + suit[0] + ".png'>"
        }
        else{
        if(value == 0){
            return "<img class='cardImage' src='/assets/ima/0.jpg'>"
        }
        if(value == 10) {
            value = "J";
        }
        else if(value == 11){
            value = "Q";
        }
        else if (value == 12) {
            value = "K";
        }
        return "<img class='cardImage' src='/assets/ima/" + value + suit[0] + ".jpg'>";
       }
}

function display(game) {
console.log(game);

$( '.columnOfCards .cardLocation' ).html("");

    $.each(game.cols[0], function( key, val ) {
        $( '#c0 .l'+key ).html(getCardPic(val.value,val.suit));
    });

 $.each(game.cols[1], function( key, val ) {
        $( '#c1 .l'+key ).html(getCardPic(val.value,val.suit));
    });

 $.each(game.cols[2], function( key, val ) {
        $( '#c2 .l'+key ).html(getCardPic(val.value,val.suit));
    });

 $.each(game.cols[3], function( key, val ) {
        $( '#c3 .l'+key ).html(getCardPic(val.value,val.suit));
    });

}

// Calls ApplicationController.gameGet()
$.getJSON("http://localhost:8080/game", function( data ) {
display(data);
game = data;
});

$("#regularMode").click(function(){
$.ajax({
  type: "POST",
  url: "/english",
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        console.log("here in english");
        gameMode =0;
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});
$("#spanishMode").click(function(){
$.ajax({
  type: "POST",
  url: "/spanish",
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        console.log("here in spanish");
        gameMode =1;
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});

$("#dealButton").click(function(){
$.ajax({
  type: "POST",
  url: "/dealGame",
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});


function removeCard(colNumber){
$.ajax({
type: "POST",
url: "/removeCard/"+colNumber,
data: JSON.stringify(game),
success: function(data, status){
    console.log("Data: " + data + "\nStatus: " + status);
    console.log("Succeeded");
    game = data;
    updateScore();
    checkLastMove();
    display(data);

},
contentType:"application/json; charset=utf-8",
dataType:"json",
});
}

function updateScore(){
    $(".score-box").html(game.playerScore);
    console.log(game.playerScore);
}
function checkLastMove(){
    console.log(game.lastAttemptValid);
    if(!game.lastAttemptValid){
        alert("This is an invalid move!");
    }
}

$("#Remove1").click(function(){
    removeCard(0);
    var discardImg = document.querySelector(".discard-image");
    discardImg.style.display = "block";
    var discPil = document.querySelector(".discard");
    discPil.style.opacity = 1.0;
    discPil.style.backgroundColor = "#00000000";
});
$("#Remove2").click(function(){
    removeCard(1);
    var discardImg = document.querySelector(".discard-image");
    discardImg.style.display = "block";
    var discPil = document.querySelector(".discard");
    discPil.style.opacity = 1.0;
    discPil.style.backgroundColor = "#00000000";
});
$("#Remove3").click(function(){
    removeCard(2);
    var discardImg = document.querySelector(".discard-image");
    discardImg.style.display = "block";
    var discPil = document.querySelector(".discard");
    discPil.style.opacity = 1.0;
    discPil.style.backgroundColor = "#00000000";
});
$("#Remove4").click(function(){
    removeCard(3);
    var discardImg = document.querySelector(".discard-image");
    discardImg.style.display = "block";
    var discPil = document.querySelector(".discard");
    discPil.style.opacity = 1.0;
    discPil.style.backgroundColor = "#00000000";
});


$("#moveButton").click(function(){
var colFrom = $("#from_col").val();
var colTo = $("#to_col").val();
$.ajax({
  type: "POST",
  url: "/moveCard/"+colFrom+"/"+colTo,
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        checkLastMove();
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});

//to make the new game button work
$("#newgamebutton").click(function(){
    location.reload();
});


</script>



</body>
</html>